body {
    background: #ffffff;
    margin-top: 5%;
    color:rgb(0, 0, 0);
    font-family: Futura;
    text-align: center;
}

a {
    color:#ee3594;
    text-decoration: none;
}

.column {
    float: left;
    width: 33.33%;
    margin-top: 2%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .column:hover {
    transform: rotate(3deg);
  }

  .smiley-face {
    font-size: 55px;
    text-align: right;
    padding-right: 0.6em;
    transition: font-size 2s;
  }

  .smiley-face:hover {
    font-size: 80px;
  }

  .go-back {
    font-size: 65px;
    text-align:right;
    padding-right: 0.6em;
    position: sticky;
    top:10px;
    transition: font-size 2s;
  }

  .go-back:hover {
    font-size: 95px;
  }




.blurr {
    padding:2em;
  }

.blurr img{
    padding:3em;
    filter: blur(10px);
	  transition: .3s ease-in-out;
  }

.blurr img:hover {
	  filter: blur(0);
  }

.shrink img {
    transition: 0.5s ease-in-out;
    padding:3em;
  }
    
.shrink img:hover{
    transform: scale(0.7);
    transition: 0.5s ease-in-out;
  }


.deleteXX {
  display:flex;
}

.deleteA {
  flex:33%;
  width: 300px;
  height: 300px;
  background: url("../PNGs/test1-8.png") no-repeat;
}

.deleteA:hover {
  background: url("../PNGs/test2-8.png") no-repeat;
}
  
.deleteB {
  flex:33%;
  width: 300px;
  height: 300px;
  background: url("../PNGs/test3-8.png") no-repeat;
}

.deleteB:hover {
  background: url("../PNGs/test4-8.png") no-repeat;
}

.deleteC {
  flex:33%;
  width: 300px;
  height: 300px;
  background: url("../PNGs/test5-8.png") no-repeat;
}

.deleteC:hover {
  background: url("../PNGs/test6-8.png") no-repeat;
}
